<div style="z-index: 1; position: relative!important;">
    <app-header-cliente></app-header-cliente>
</div>
<br><br><br>
<div id="DivPrincipalFormaPago">
    <br><br>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 style="color: white;" class="display-4 fw-normal">Comienza a disfrutar de ECUAFILMS</h1>
            <br>
            <p style="color:rgba(255, 255, 255, 0.7);" class="fs-5">Disfruta de grandes éxitos, aventuras intrépidas y contenidos exclusivos.</p>
        </div>
        <div class="container px-5">
            <div class="row row-cols-1 row-cols-md-2 mb-2 text-center ">
                <div class="col">
                    <div id="encabezado" class="card mb-4 rounded-3 shadow-sm " style="background: linear-gradient(180deg,rgba(255, 255, 255, 0.04),hsla(0,0%,100%,0)); border-color:rgba(255, 255, 255, 0.4);">
                        <div class="contenido">
                            <div class="card-body">
                                <br>
                                <h1 style="color:rgb(221, 98, 119)" class="card-title pricing-card-title">Datos de transferencia Bancaria</h1>
                                <h4><small style="color:rgba(255, 255, 255, 0.55);font-size: 15px;" class="fw-light">Mandanos el comprobante de pago al correo y te
                                        daremos un número de cupón y puedas ver las mejores películas.</small></h4>
                                
                                 <ul style="color:rgba(255, 255, 255, 0.55);font-size: 16px;" class="list-unstyled mt-4 mb-4 ">
                                    <li> BANCO PRODUBANCO</li>
                                    <li>Cta. Ahorros</li>
                                    <li>#18008759317</li>
                                    <li>RUC 0974514896001</li>
                                    <li>pagos@ecuafilms.com</li>
                                </ul>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div id="encabezado" class="card mb-4 rounded-3 shadow-sm" style="background: linear-gradient(180deg,hsla(0,0%,100%,.04),hsla(0,0%,100%,0)); border-color:rgba(255, 255, 255, 0.4);">
                        <div class="card-body">
                            <br>
                            <h1 style="color:rgb(221, 98, 119)" class="card-title pricing-card-title">Pagar con mi cuenta PayPal</h1>
                            <h4><small style="color:rgba(255, 255, 255, 0.55);font-size: 15px;">¿Tienes cuenta de PayPal? Con este método y mira las péliculas lo
                                    antes posible.</small></h4>
                            <ul class="list-unstyled mt-4 mb-4">
                                <div class="input-group mb-4">
                                    <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                                    <input type="email" class="form-control" placeholder="Correo eléctronico" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="bi bi-shield-fill-check"></i></span>
                                    <input type="password" class="form-control" placeholder="Contraseña" required>
                                </div>
    
                            </ul>
                            <button (mouseover)="CambiarColor()" (mouseout)="CambiarColorOriginal()" id="botonPagar" type="button" class="w-75 btn btn-lg" style="color: white;"><i class="bi bi-paypal"></i>
                                Pagar con PayPal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
</div>
