<div style="width: 100%">
    <div style="height: 90vh;">
      <div>
        <div style="width: 100%; z-index: 1;" class="position-absolute  top-50 start-50 translate-middle">
          <div class="text-center">
            <h5 id="TituloHeader" style="
                  color: white;
                  position: absolute;
                  margin-top: 38px;
                  width: 100%;
                  text-align: center;
                  font-size: 20px;
                ">
              PELICULAS Y SERIES ILIMITADAS
            </h5>
            <img src="https://firebasestorage.googleapis.com/v0/b/morochoreydavid.appspot.com/o/Img%2FMarcado.webp?alt=media&token=8dac14d8-5ecd-46cb-bd5f-65b79c067bb4" class="img-fluid" style="margin-top: 20px" />
          </div>
          <br />
          <div id="divisorInfo">
            <div id="divisorInfoMargen">
              <p style="color: white; text-align: center">DISFRUTA</p>
              <h3 style="color: rgb(255, 0, 229); text-align: center">
                ¡ CUANDO Y DONDE QUIERAS !
              </h3>
            </div>
            <br />
            <div class="text-center" style="width: 100%">
              <h3 id="containerTitulo">¿QUIERES VER ECUAFLIM YA?</h3>
              <br />
              <div>
                <button (click)="CrearCuente()" style="margin: 0%" id="btnSeguir">
                  <h1 id="texto-boton-continuar" style="margin: 0px">
                    Aprovecha ahora
                  </h1>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <video #videos class="video-header" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline"
          preload="metadata" data-aos="fade-up">
          <source src="assets/Mivideo2.mp4" type="video/mp4" />
          <source src="../assets/Mivideo2.mp4" type="video/mp4" />
          Navegador no copatible
        </video>
      </div>
    </div>
  </div>
  <h4
    style="margin:0; padding-top:50px; padding-bottom: 50px;color: white; text-align: center; background: linear-gradient(0,rgba(62, 17, 96, 0.5),rgba(3, 3, 40,1));">
    Estrenos que se transformaran en nuevos favoritos</h4>
  <div
    style="Position:relative; top:0px;width: 100%; margin: 0px; background: linear-gradient(0, rgb(3, 3, 40),rgba(62, 17, 96, 0.5));">
    <div class="container" style="background-color: transparent;">
      <ngx-slick-carousel class="carousel" #slickModalPeliculasTrailer="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of imgFondo" class="slide">
          <div class="row justify-content-center justify-content-md-start">
            <div  class="col-12 col-sm-6 col-md-3 col-lg-6">
              <h3 style="width: 100%;text-align: center; color: white; padding-top:5px; padding-bottom: 5px; height: min-content; background: linear-gradient( to left, rgba(116, 9, 121, 1), rgba(185, 8, 246, 1), rgba(91, 28, 230, 1));">{{slide.p}}</h3>
              <p style="color: white; padding:10px; text-align: justify;">{{slide.sipnosis}}</p>
              <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                  <img style="margin: 0 auto; width:130px; border: 1px solid white;" class="img-fluid rounded-circle" src="{{slide.actor1Img}}" alt="imagen no cargada">
                  <p style="width: 100%; text-align: center; color:rgb(222, 96, 118); font-size:larger; margin-top: 10px;">{{slide.actor1}}</p>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                  <img style="margin: 0 auto; width:130px; border: 1px solid white;" class="img-fluid rounded-circle" src="{{slide.actorImg2}}" alt="imagen no cargada">
                  <p style="width: 100%; text-align: center; color:rgb(222, 96, 118); font-size:larger; margin-top: 10px;">{{slide.actor2}}</p>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4">
                  <img style="margin: 0 auto; width:130px; border: 1px solid white;" class="img-fluid rounded-circle" src="{{slide.actorImg3}}" alt="imagen no cargada">
                  <p style="width: 100%; text-align: center; color:rgb(222, 96, 118); font-size:larger; margin-top: 10px;">{{slide.actor3}}</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 col-lg-6"
              style=" align-items: center; padding-top: 40px;padding-bottom: 40px;">
              <div class="text-center align-items-center" style="background-image: url('{{ slide.img }}');  background-repeat: no-repeat;
                      background-position: center 100%;
                      background-size: 100% 320px;height: 320px;">
                <button style="border: none; position:relative; top:30%; background-color: transparent;"
                  data-bs-toggle="modal" [attr.data-bs-target]="slide.model" type="button">
                  <img src="https://hbomax-images.warnermediacdn.com/2022-03/play-icon.png" alt="">
                </button>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <div style="width: 100%; position:relative; top:-20px;" class="justify-content-center row">
    <div style="width: max-content;">
      <button #botonPrev id="botonprev" (click)="bajarContador('botonnext','botonprev')"
        style="border: none; background-color: transparent;" class="invisible">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="white" class="bi bi-chevron-left"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg></button>
      <span
        style="font-size: 25px; color: white; position: relative; top:5px; font-family: Roboto, 'Helvetica Neue', sans-serif;">{{NumeroPelicula}}</span>
      <span
        style="font-size: 25px; color: white; position: relative; top:5px; left: 7px;font-family: Roboto, 'Helvetica Neue', sans-serif; ">/</span>
      <span
        style="font-size: 25px; color: white; position: relative; top:5px; left: 13px; margin-right: 10px ;font-family: Roboto, 'Helvetica Neue', sans-serif; ">5</span>
      <button #botonNext id="botonnext" (click)="aumentarContador('botonnext','botonprev')"
        style="border: none; background-color: transparent" class="visible">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="white" class="bi bi-chevron-right"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
        </svg>
      </button>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div style="background-color:rgba(0,0,0,0.95)" class="modal-content">
        <div class="modal-body">
          <h4 style="display:inline-block ; color: white;">Spider-Man No Hay Home | Tráiler Oficial |</h4>
          <button (click)="cerrarVideo('VideoSpiderman')"
            style="color: white;background-color: transparent; float: right; border: none; margin-bottom: 10px;"
            type="button" data-bs-dismiss="modal"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
              fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg></button>
          <video id="VideoSpiderman" class="video-pause" controls width="100%">
            <source
              src="https://firebasestorage.googleapis.com/v0/b/morochoreydavid.appspot.com/o/SpiderMan.mp4?alt=media&token=7691ac75-f28a-4428-b113-16e1a4c5c3de"
              type="video/mp4" />
            Navegador no copatible
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="Thor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div style="background-color:rgba(0, 0, 0, 0.95)" class="modal-content">
        <div class="modal-body">
          <h4 style="display:inline-block ; color: white;">Lightyear | Tráiler Oficial |</h4>
          <button (click)="cerrarVideo('videoBuzzLigher')" type="button" data-bs-dismiss="modal"
            style="color: white;background-color: transparent; float: right; border: none; margin-bottom: 10px;"><svg
              xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-x-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg></button>
          <video id="videoBuzzLigher" class="video-pause" controls width="100%">
            <source
              src="https://firebasestorage.googleapis.com/v0/b/morochoreydavid.appspot.com/o/x2mate.com-Lightyear%20_%20Tr%C3%A1iler%20Oficial%20_%20Doblado-(1080p).mp4?alt=media&token=20722540-50c7-4034-917f-ee8581270cfd"
              type="video/mp4" />
            Navegador no copatible
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="Jurrasic" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div style="background-color:rgba(0, 0, 0, 0.95)" class="modal-content">
        <div class="modal-body">
          <h4 style="display:inline-block ; color: white;">Jurassic World Dominion | Tráiler Oficial |</h4>
          <button (click)="cerrarVideo('videoJurrasic')" type="button" data-bs-dismiss="modal"
            style="color: white;background-color: transparent; float: right; border: none; margin-bottom: 10px;"><svg
              xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-x-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg></button>
          <video id="videoJurrasic" class="video-pause" controls width="100%">
            <source
              src="https://firebasestorage.googleapis.com/v0/b/morochoreydavid.appspot.com/o/x2mate.com-JURASSIC%20WORLD%203%20DOMINION%20Tr%C3%A1iler%20Espa%C3%B1ol%20(2022)-(1080p).mp4?alt=media&token=69e8dd54-32f8-437a-866a-8d41025879f1"
              type="video/mp4" />
            Navegador no copatible
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="DoctoStrange" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div style="background-color:rgba(0, 0, 0, 0.95)" class="modal-content">
        <div class="modal-body">
          <h4 style="display:inline-block ; color: white;">Doctor Strange 2 | Tráiler Oficial |</h4>
          <button (click)="cerrarVideo('videoDoctoStrange')" type="button" data-bs-dismiss="modal"
            style="color: white;background-color: transparent; float: right; border: none; margin-bottom: 10px;"><svg
              xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-x-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg></button>
          <video id="videoDoctoStrange" class="video-pause" controls width="100%">
            <source
              src="https://firebasestorage.googleapis.com/v0/b/morochoreydavid.appspot.com/o/x2mate.com-Doctor%20Strange%20en%20el%20Multiverso%20de%20la%20Locura%20_%20Tr%C3%A1iler%20Oficial%20_%20Doblado-(1080p).mp4?alt=media&token=f74dca16-1529-4d81-b21d-dd012f13f37d"
              type="video/mp4" />
            Navegador no copatible
          </video>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="whatIF" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div style="background-color:rgba(0, 0, 0, 0.95)" class="modal-content">
        <div class="modal-body">
          <h4 style="display:inline-block ; color: white;">WHAT IF | Tráiler Oficial |</h4>
          <button (click)="cerrarVideo('videoWhatif')" type="button" data-bs-dismiss="modal"
            style="color: white;background-color: transparent; float: right; border: none; margin-bottom: 10px;"><svg
              xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-x-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg></button>
          <video id="videoWhatif" class="video-pause" controls width="100%">
            <source
              src="https://firebasestorage.googleapis.com/v0/b/morochoreydavid.appspot.com/o/x2mate.com-What%20If..._%20(2021)%20Marvel%20Serie%20Tr%C3%A1iler%20Oficial%20Espa%C3%B1ol%20Latino-(1080p).mp4?alt=media&token=8d9fa336-dd59-42cb-bb1b-4d69c77ab125"
              type="video/mp4" />
            Navegador no copatible
          </video>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container" >
    <div class="justify-content-center row">
      <div class="text-center">
          <img src="../assets/linea.webp" width="100%">
      </div>
      <div style="width: max-content; margin-top: -45px ; background-color: rgb(3, 3, 40);" class="text-center">
        <h4
          style="margin:0; padding-top:20px;color: white; text-align: center;" class="h4">
          Explora Nuestras Peliculas Icónicas</h4>
      </div>
    </div>
  </div>
  <br>
  <div style="padding: 20px;">
  <div class="container" style="border-radius: 20px; border: 1px solid rgb(3, 3, 40); padding: 20px; background: linear-gradient( to left, rgba(116, 9, 121, 0.5), rgba(185, 8, 246, 0.4), rgba(91, 28, 230, 0.5));">
      <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 position-relative">
          <div class="position-absolute top-50 start-50" style="margin-left:-15px">
            <button (click)="prev()" style="background-color: transparent; border:none">
              <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="white" class="bi bi-chevron-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              </svg>
            </button>
          </div>
        </div>
        <div class="col-10 col-sm-10 col-md-10 col-lg-10" style="background-color: transparent;">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigImage">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <div style="width:100%">
                <img style="border-radius: 20px; border-color: transparent;" id="ImagenPeliculasPromocion" src="{{ slide.img }}" alt="" width="250px" class="img-fluid mx-auto d-block">
              </div>   
              <div style="margin-top: 15px; width:100%; padding-left: 21px;" class="justify-content-center row">
                <div style="width:max-content;" class="text-center">
                  <button (click)="openShowModalDiaolog()" style="border-color: transparent; border-radius: 15px; background-color: rgb(233, 60, 89);color: white;" class="btn"> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-play" viewBox="0 0 16 16">
                      <path d="M10.804 8 5 4.633v6.734L10.804 8zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696l6.363 3.692z"/>
                    </svg>
                    VER AHORA
                  </button>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 position-relative">
          <div class="position-absolute top-50 start-50" style="margin-left:-28px">
            <button (click)="next()" style="background-color: transparent; border:none">
              <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" fill="white" class="bi bi-chevron-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </button>
          </div>
        </div>
      </div>
  </div>
  </div>
  <br>
  <div class="container" >
    <div class="justify-content-center row">
      <div class="text-center">
          <img src="../assets/linea.webp" width="100%">
      </div>
      <div style="width: max-content; margin-top: -45px ; background-color: rgb(3, 3, 40);" class="text-center">
        <h4
          style="margin:0; padding-top:20px;color: white; text-align: center;" class="h4">
          Preguntas Frecuentes</h4>
      </div>
    </div>
  </div>
  <br>
 <app-preguntas-frecuentes-codigo></app-preguntas-frecuentes-codigo>
  <br>
