<br>
<div class="container" style="padding-bottom: 20px;">
    <div class="row justify-content-center">
            <div class="estiloTamano text-center ">
                <ul id="OpcionesUl" class="d-flex justify-content-center">
                    <li class="Cursor">
                        <a (click)="PrivacidadClick()">Privacidad</a>
                    </li>
                    <li class="Cursor">
                        <a (click)="TerminoDeUso()">Términos de Uso</a>
                    </li>
                    <li class="Cursor">
                        <a (click)="PreguntasFrecuentes()">Preguntas frecuentes</a>
                    </li>
                    <li class="Cursor">
                        <a (click)="ContactanosClick()">Contáctanos</a>
                    </li>
                    <li class="Cursor">
                        <a (click)="PruebaVelocidad()">Prueba de velocidad</a>
                    </li>
                </ul> 
            </div>
            <div style="width:100%;margin-top: 10px;" class="text-center">
                <p style="color: white; font-size: 14px">© 2022 Todos los derechos reservados a EcuaFilms.</p>
            </div>
            <div style="width:100%" class="text-center estiloTamano">
                <ul id="OpcionesUlRedesSociales" class="d-flex justify-content-center">
                    <li>
                        <a href="https://www.facebook.com/EcuaFilms-100875242264444/"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/kaas7520"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/kaas7520/"><i class="bi bi-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UCkOPY_p67ooImx7dZQipQAA"><i class="bi bi-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://www.tiktok.com/@terror_kaas?lang=es&is_copy_url=1&is_from_webapp=v1"><i class="bi bi-tiktok"></i></a>
                    </li>
                    <li>
                        <a href="https://www.twitch.tv/kaas7520"><i class="bi bi-twitch"></i></a>
                    </li>
                </ul> 
            </div>
    </div>
</div>