<app-header-segundario></app-header-segundario>
<div
  style="
    width: 100%;
    height: 300px;
    position: relative;
    top: -50px;
    background: linear-gradient(
      to left,
      rgba(116, 9, 121, 1),
      rgba(185, 8, 246, 1),
      rgba(91, 28, 230, 1)
    );
  "
>
  <div style="width: 100%; height: 100%" id="divPrincipal">
    <div style="position: relative; top: 50%">
      <div style="width: 100%">
        <h2 id="TituloPrincipal" style="color: white">
          Nos preocupamos por su privacidad
        </h2>
      </div>
    </div>
  </div>
</div>
<div style="color: white" class="container">
  <h2 class="TitulosTerminoUso">Recopilación de la información</h2>
  <p style="font-size: 15px" class="ParrafosTerminoUso">
    Recibimos y almacenamos información sobre usted, incluida:
  </p>
  <ul>
    <li class="TitulosTerminoUso">
      <h4 class="TitulosTerminoUso">
        La información que usted nos proporciona:
      </h4>
      <ul>
        <li class="ParrafosTerminoUso">
          <p>
            Su nombre, email, formas de pago, número de teléfono y otros
            identificadores que pueda utilizar (como un nombre en el juego). En
            algunos países, solicitamos un número de identificación
            gubernamental para la facturación y el cumplimiento de normas
            impositivas. Esta información se recopila de diferentes maneras,
            entre ellas, cuando usted la introduce en nuestro servicio, al
            interactuar con nuestro servicio al cliente, o al participar en
            encuestas o promociones de marketing;
          </p>
        </li>
        <li class="ParrafosTerminoUso">
          <p>
            La información recopilada cuando usted elige proporcionar
            calificaciones o preferencias, configura las preferencias (en la
            sección “Cuenta” de nuestro sitio web) o nos brinda información
            mediante nuestro servicio o de otros medios.
          </p>
        </li>
      </ul>
    </li>
    <li class="TitulosTerminoUso">
      <h4 class="TitulosTerminoUso">
        La información que recopilamos automáticamente:
      </h4>
      <ul>
        <li class="ParrafosTerminoUso">
          <p>
            Su actividad en el servicio de Netflix, como las selecciones de los
            títulos, las series vistas y las consultas de búsquedas.
          </p>
        </li>
        <li class="ParrafosTerminoUso">
          <p>
            Sus interacciones con emails y textos, y con nuestras notificaciones
            automáticas y canales de mensajería online.
          </p>
        </li>
        <li class="ParrafosTerminoUso">
          <p>
            Detalles sobre sus interacciones con el servicio al cliente, como la
            fecha, hora, razón de la consulta, transcripciones de cualquier
            conversación en el chat y, si nos llama, su número de teléfono y
            grabaciones de las llamadas
          </p>
        </li>
        <li class="ParrafosTerminoUso">
          <p>
            Id. del dispositivo u otros identificadores exclusivos, incluso para
            su red, los dispositivos de red y los dispositivos compatibles con
            Netflix en su red wifi;
          </p>
        </li>
        <li class="ParrafosTerminoUso">
          <p>
            La información recopilada a través del uso de cookies, contadores de
            visitas a la web y otras tecnologías, incluidos los datos de
            publicidad (por ejemplo, información sobre la disponibilidad y
            entrega de anuncios, el URL del sitio, así como la fecha y la hora).
            (Consulte nuestra sección “Cookies y publicidad de internet” para
            obtener más información).
          </p>
        </li>
      </ul>
    </li>
    <li class="TitulosTerminoUso">
      <h4 class="TitulosTerminoUso">La información que obtenemos de otras fuentes:</h4>
      <ul>
        <li class="ParrafosTerminoUso">
          <p>
            Proveedores de servicios que nos ayudan a identificar una ubicación según la dirección IP a fin de personalizar nuestro servicio y para otros usos conforme esta Declaración de privacidad
          </p>
        </li>
        <li class="ParrafosTerminoUso">
          <p>
            Proveedores de servicios de seguridad que nos brindan información para asegurar nuestros sistemas, prevenir fraudes y ayudarnos a proteger la seguridad de las cuentas de Netflix.
          </p>
        </li>
        <li class="ParrafosTerminoUso">
          <p>
            Proveedores de datos online y offline, que nos suministran datos demográficos agregados, sobre intereses y de publicidad online.
          </p>
        </li>
        <li class="ParrafosTerminoUso">
          <p>
            Fuentes de dominio público, como las publicaciones no privadas de redes sociales y la información disponible por medio de bases de datos públicas que asocian las direcciones IP con los proveedores de servicios de internet (ISP).
          </p>
        </li>
        <li class="ParrafosTerminoUso">
            <p>
              Fuentes de dominio público, como las publicaciones no privadas de redes sociales y la información disponible por medio de bases de datos públicas que asocian las direcciones IP con los proveedores de servicios de internet (ISP).
            </p>
        </li>
      </ul>
    </li>
    <li class="TitulosTerminoUso">
      <h4 class="TitulosTerminoUso">Uso de la información:</h4>
      <ul>
        <li class="ParrafosTerminoUso">
          <p>
            Usamos la información recopilada para proporcionar, analizar, administrar, mejorar y personalizar nuestros servicios e iniciativas de marketing, para administrar las recomendaciones de miembros, para procesar su registro, solicitudes y pagos; y para comunicarnos con usted sobre este y otros temas.
          </p>
        </li>
      </ul>
    </li>
  </ul>
</div>
