<div style="
    width: 100%;
    height: 300px;
    position: relative;
    top: -50px;
    background: linear-gradient(
      to left,
      rgba(116, 9, 121, 1),
      rgba(185, 8, 246, 1),
      rgba(91, 28, 230, 1)
    );
  ">
    <div style="width: 100%; height: 100%" id="divPrincipal">
        <div style="position: relative; top: 50%">
            <div style="width: 100%">
                <h2 id="TituloPrincipal" style="color: white">
                    Términos de uso de EcuaFilms
                </h2>
            </div>
        </div>
    </div>
</div>
<div style="color: white" class="container">
    <p style="font-size: 15px" class="ParrafosTerminoUso">
        EcuaFilms brinda un servicio de suscripción personalizado que permite a
        nuestros miembros acceder a contenido de entretenimiento a través de
        internet en ciertas TV, computadoras y otros dispositivos conectados a
        internet.
    </p>
    <p style="font-size: 15px" class="ParrafosTerminoUso">
        Los presentes Términos de uso rigen la utilización que haga de nuestro
        servicio. Según se utilicen en estos Términos de uso, las frases “el
        servicio de EcuaFilms”, “nuestro servicio” o “el servicio” se refieren al
        servicio personalizado brindado por EcuaFilms para descubrir y acceder al
        contenido de EcuaFilms, incluidas todas las características y
        funcionalidades, recomendaciones y críticas, nuestros sitios web y las
        interfaces de usuario, además de todo el contenido y software asociado a
        nuestro servicio.
    </p>
    <ul>
        <li class="TitulosTerminoUso">
            <h4 class="TitulosTerminoUso">Membresía:</h4>
            <ul>
                <li class="ParrafosTerminoUso">
                    <p>
                        1.1. Su membresía de EcuaFilms continuará hasta que la cancele. Para
                        usar el servicio de EcuaFilms, debe tener acceso a internet y un
                        dispositivo listo para EcuaFilms, y proporcionar una o más Formas de
                        pago. “Forma de pago” significa una forma de pago actual, válida y
                        aceptada, que pueda actualizarse periódicamente y que admita pagos a
                        través de terceros. A menos que cancele su membresía antes de la
                        fecha de facturación, nos autoriza a cobrarle la membresía del
                        siguiente ciclo de facturación a su Forma de pago (ver “Cancelación”
                        a continuación).
                    </p>
                </li>
                <li class="ParrafosTerminoUso">
                    <p>
                        1.2. Podemos ofrecer diversos planes de membresía, incluidas las
                        membresías que se ofrecen a través de terceros junto con la
                        provisión de sus propios productos y servicios. No somos
                        responsables por los productos y servicios provistos por dichos
                        terceros. Ciertas membresías tienen condiciones y limitaciones
                        diferentes que se aclaran en el acuerdo de suscripción o en otras
                        comunicaciones. Podrá encontrar la información específica sobre su
                        membresía de EcuaFilms visitando el sitio web EcuaFilms.com y
                        haciendo clic en el vínculo “Cuenta”, disponible en la parte
                        superior de las páginas bajo su nombre de perfil.
                    </p>
                </li>
            </ul>
        </li>
        <li class="TitulosTerminoUso">
            <h4 class="TitulosTerminoUso">Ofertas promocionales:</h4>
            <ul>
                <li class="ParrafosTerminoUso">
                    <p>
                        2.1. Ocasionalmente, podríamos hacer ofertas especiales de
                        promociones, planes o membresías (“Ofertas”). EcuaFilms determina
                        los requisitos para acceder a la Oferta a su exclusivo criterio, y
                        nos reservamos el derecho de revocar una Oferta y suspender su
                        cuenta si determinamos que usted no es elegible. Los miembros en
                        hogares con una membresía de EcuaFilms existente o reciente podrían
                        no ser elegibles para ciertas Ofertas de introducción. Podemos
                        utilizar información como el Id. del dispositivo, la forma de pago o
                        la dirección de email de la cuenta utilizada con una membresía de
                        EcuaFilms existente o reciente para determinar la elegibilidad de la
                        Oferta. Los requisitos de elegibilidad y otras limitaciones y
                        condiciones se le informarán cuando se suscriba a la Oferta o en
                        otras comunicaciones puestas a su disposición.
                    </p>
                </li>
            </ul>
        </li>
        <li class="TitulosTerminoUso">
            <h4 class="TitulosTerminoUso">Facturación y cancelación:</h4>
            <ul>
                <li class="ParrafosTerminoUso">
                    <p>
                        3.1. Ciclo de facturación. Los cargos de membresía por el servicio
                        de EcuaFilms y cualquier otro cargo en el que incurra en relación con
                        el uso que haga del servicio de EcuaFilms, como impuestos y posibles
                        gastos de transacción, se cobrarán a su Forma de pago en la fecha de
                        pago específica indicada en la página “Cuenta”. La duración de su
                        ciclo de facturación dependerá del tipo de membresía que haya
                        seleccionado al suscribirse al servicio. En ciertos casos, su fecha
                        de pago podría cambiar, por ejemplo, si no se pudo hacer el cobro
                        con su Forma de pago satisfactoriamente, cuando cambie su plan de
                        suscripción, o si su membresía pagada comenzó un día que no está
                        incluido en un determinado mes. Visite el sitio web EcuaFilms.com y
                        haga clic en el vínculo “Información de facturación”, en la página
                        “Cuenta” para ver su próxima fecha de pago. Podemos autorizar su
                        Forma de pago antes del cobro relacionado con la membresía o el
                        servicio a través de varios métodos, e incluso autorizarla para que
                        dure aproximadamente un mes de servicio a partir de su registro. Si
                        se suscribió a EcuaFilms usando su cuenta con un tercero como Forma de
                        pago, puede encontrar la información sobre la facturación de su
                        membresía de EcuaFilms en su cuenta correspondiente del servicio del
                        tercero.
                    </p>
                </li>
                <li class="ParrafosTerminoUso">
                    <p>
                        3.2. Formas de pago. Para usar el servicio de EcuaFilms debe proveer
                        una forma de pago o más. Nos autoriza a hacer cargos a cualquier
                        forma de pago asociada con su cuenta en caso del rechazo o
                        indisponibilidad de su forma de pago principal. Cualquier cargo
                        pendiente le corresponderá a usted. Si el pago no se pudiera hacer
                        satisfactoriamente, debido a la fecha de vencimiento, la falta de
                        fondos o si usted no actualiza la información de su forma de pago o
                        cancela su cuenta, podemos suspender su acceso al servicio hasta que
                        obtengamos una forma de pago válida. Para algunas formas de pago, el
                        emisor puede cobrarle ciertos cargos, como cargos de transacción
                        extranjera u otros cargos relacionados con el procesamiento de su
                        forma de pago. Los impuestos locales varían en función de la Forma
                        de pago usada. Consulte con el proveedor de servicios de su forma de
                        pago para obtener información.
                    </p>
                </li>
                <li class="ParrafosTerminoUso">
                    <p>
                        3.3. Actualización de sus Formas de pago. Se puede actualizar su
                        forma de pago en "Cuenta". También se puede actualizar la forma de
                        pago con la información provista por el proveedor de servicios de
                        pago correspondiente. Luego de cualquier actualización, nos autoriza
                        a hacer cargos a las formas de pago correspondientes.
                    </p>
                </li>
                <li class="ParrafosTerminoUso">
                    <p>
                        3.4. Cancelación. Puede cancelar la membresía de EcuaFilms en
                        cualquier momento, y continuará teniendo acceso al servicio hasta el
                        final de su período de facturación. En la medida permitida por la
                        ley aplicable, los pagos no son reembolsables y no se otorgarán
                        reembolsos ni créditos por los periodos de membresía utilizados
                        parcialmente o por el contenido de EcuaFilms no usado. Para cancelar,
                        visite la página “Cuenta” y siga las instrucciones. Si cancela su
                        membresía, su cuenta se cerrará automáticamente al final de su
                        período de facturación actual. Para ver cuándo se cerrará su cuenta,
                        haga clic en "Información de facturación" en la página "Cuenta". Si
                        se suscribió a EcuaFilms mediante su cuenta con un tercero como Forma
                        de pago y desea cancelar su membresía de EcuaFilms en cualquier
                        momento, es posible que tenga que hacerlo a través de dicho tercero,
                        ya sea, al visitar su cuenta con el tercero correspondiente para
                        desactivar su renovación automática o al cancelar la suscripción al
                        servicio de EcuaFilms a través de ese tercero.
                    </p>
                </li>
            </ul>
        </li>
        <li class="TitulosTerminoUso">
            <h4 class="TitulosTerminoUso">Servicio de EcuaFilms:</h4>
            <ul>
                <li class="ParrafosTerminoUso">
                    <p>
                        4.1. Debe tener, al menos, 18 años de edad, o la mayoría de edad en
                        su provincia, territorio o país, para ser miembro del servicio de
                        EcuaFilms. Los menores solamente pueden usar el servicio bajo la
                        supervisión de un adulto.
                    </p>
                </li>
                <li class="ParrafosTerminoUso">
                    <p>
                        4.2. El servicio de EcuaFilms y todo el contenido al que se accede en
                        él son solo para uso personal, no comercial, y no debe compartirse
                        con personas que no sean miembros de su hogar. Durante la membresía
                        de EcuaFilms, le otorgamos un derecho limitado, no exclusivo e
                        intransferible para acceder al servicio y al contenido de EcuaFilms.
                        Más allá de esto, no se le transferirá ningún otro derecho, título o
                        interés. Usted acepta que no usará el servicio para presentaciones
                        públicas.
                    </p>
                </li>
                <li class="ParrafosTerminoUso">
                    <p>
                        4.3. Usted puede acceder al contenido de EcuaFilms principalmente en
                        el país donde estableció su cuenta y solo en los lugares geográficos
                        en los que ofrecemos nuestro servicio y donde se tenga licencia para
                        ese contenido. El contenido que puede estar disponible puede variar
                        según la ubicación geográfica y cambia periódicamente. La cantidad
                        de dispositivos en los que puede ver simultáneamente depende del
                        plan de suscripción elegido y se especifica en la página “Cuenta”.
                    </p>
                </li>
                <li class="ParrafosTerminoUso">
                    <p>
                        4.4. EcuaFilms actualiza el servicio continuamente, incluido su
                        catálogo de contenido. Además, probamos regularmente varios aspectos
                        de nuestro servicio, tales como nuestros sitios web, las interfaces
                        de usuario, las funciones promocionales y la disponibilidad de
                        contenido de EcuaFilms. Usted puede desactivar en cualquier momento su
                        participación en pruebas visitando la página "Cuenta" y cambiando la
                        configuración de "Participación en pruebas".
                    </p>
                </li>
                <li class="ParrafosTerminoUso">
                    <p>
                        4.5. Parte del contenido de EcuaFilms está disponible para descarga
                        temporal y visualización offline en ciertos dispositivos compatibles
                        (“Títulos offline”). Se aplican restricciones, incluidas las
                        restricciones a la cantidad de Títulos offline por cada cuenta, la
                        cantidad máxima de dispositivos que pueden contener Títulos offline,
                        el período en el cual deberá comenzar a ver los Títulos offline y
                        cuánto tiempo permanecerán accesibles los Títulos offline. Es
                        posible que algunos Títulos offline no se puedan reproducir en
                        determinados países y que, si se conecta en un país en el que no se
                        puede hacer streaming de ese Título offline, dicho título no se
                        pueda reproducir mientras esté en ese país.
                    </p>
                </li>

                <li class="ParrafosTerminoUso">
                    <p>
                        4.6. Acepta usar el servicio de EcuaFilms, incluidas todas las
                        características y funcionalidades asociadas con éste, bajo
                        conformidad con todas las leyes, normas y reglamentaciones vigentes,
                        o cualquier otra restricción al uso del servicio o sus contenidos.
                        Usted acepta no archivar, reproducir, distribuir, modificar,
                        mostrar, ejecutar, publicar, otorgar licencias, crear obras
                        derivadas basadas en el servicio, u ofrecer en venta, o usar (a
                        excepción de que se autorice explícitamente en estos Términos de
                        uso) contenido e información contenida en u obtenida a través del
                        servicio de EcuaFilms. Usted también acepta: no evitar, eliminar,
                        alterar, desactivar, interferir con o burlar las protecciones de
                        contenido del servicio de EcuaFilms; no usar ningún robot, spider,
                        scraper u otra forma automatizada para acceder al servicio de
                        EcuaFilms; ni descompilar, realizar ingeniería inversa, desarmar el
                        software u otro producto o proceso a los que se acceda a través del
                        servicio de EcuaFilms; no introducir de alguna manera un código o
                        producto o manipular el contenido del servicio de EcuaFilms; ni usar
                        método alguno de análisis, extracción u obtención de datos.
                        Asimismo, se compromete a no subir, publicar, enviar por email ni
                        transmitir de cualquier otra forma ningún material diseñado para
                        interrumpir, destruir o limitar la funcionalidad del software de
                        computación, hardware o equipos de telecomunicaciones asociados con
                        el servicio de EcuaFilms, incluido material que contenga virus de
                        software o cualquier otro código, archivos o programas. Podríamos
                        terminar o restringir su uso de nuestro servicio si usted viola
                        cualquiera de los Términos de uso o usa el servicio de forma ilegal
                        o fraudulenta.
                    </p>
                </li>
            </ul>
        </li>
    </ul>
</div>