<app-header></app-header>
<div style="width: 100%">
    <div style="height: 90vh;">
      <div style="width: 100%; position: absolute; z-index: 1">
        <div class="text-center">
          <h3 id="TituloHeader" style="
              color: white;
              position: absolute;
              margin-top: 9%;
              width: 100%;
              text-align: center;
            ">
            PELICULAS Y SERIES ILIMITADAS
          </h3>
          <img src="../assets/Marcado.webp" width="40%" style="margin-top: 7%" />
        </div>
        <br />
        <div id="divisorInfo">
          <div id="divisorInfoMargen">
            <p style="color: white; text-align: center">DISFRUTA</p>
            <h3 style="color: rgb(255, 0, 229); text-align: center">
              ¡ CUANDO Y DONDE QUIERAS !
            </h3>
          </div>
          <br />
          <div class="text-center" style="width: 100%">
            <h3 id="containerTitulo">¿QUIERES VER ECUAFLIM YA?</h3>
            <br />
            <div>
              <button style="margin: 0%" id="btnSeguir">
                <h1 id="texto-boton-continuar" style="margin: 0px">
                  Aprovecha ahora
                </h1>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <video #videos  class="video-header" autoplay="autoplay" muted="muted" loop="loop" playsinline="playsinline" preload="metadata" data-aos="fade-up">
          <source src="assets/Mivideo2.mp4" type="video/mp4" />
          <source src="../assets/Mivideo2.mp4" type="video/mp4" />
          Navegador no copatible
        </video>
      </div>
    </div>
    <div style="background-color: green;">
      <h3>INCREIBLES PELICULAS SOLO AQUI! EN ECUAFLIMSssssss</h3>    
    </div>
  </div>
<div class="container">
    <button (click)="prev() " style="position: absolute; width:5%;height:500px; z-index: 1;">prev</button>
    <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig" >
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img src="{{ slide.img }}" alt="" width="50%" height="500px">
        </div>
    </ngx-slick-carousel>
    <button (click)="next()" style="position: relative; top:-500px; width:5%;height:500px; z-index: 1; float: right;">Next</button>
</div>
<button type="button" class="btn btn-primary">Primary</button>
<div data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
  <ngx-slick-carousel class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slideConfig" >
        <div ngxSlickItem *ngFor="let slide of imgFondo" class="slide">
          <div style="background-color: green; width: 100%;">
            <div style="background-color: lightcoral; width: 75%;">
              <a  data-bs-toggle="modal" [attr.data-bs-target] ="slide.model">
                <img src="https://hbomax-images.warnermediacdn.com/2022-03/play-icon.png" alt="">
              </a>
              <img src="{{ slide.img }}" alt="" width="50%">
              <div class="modal" id="venata1">
                <p>MARCOSDB</p>>
              </div>
            </div>
            <p>{{slide.model}}</p>
          </div>    
        </div>
    </ngx-slick-carousel>
    <!-- Button trigger modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Spiderman</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
    </div>
  </div>
</div>
</div>
<div class="modal fade" id="Thor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">THOR</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
    </div>
  </div>
</div>
</div>
<!-- Modal -->
