<div style="padding: 10px;">
    <div class="container" style="margin-top: 5px;">
      <div class="row justify-content-center">
        <div id="tamanoDeDivPreguntasFrecuentes" class="text-center">
          <button (click)="AbrirDiv('Icon1','1')" style="border: none;width: 100%; color:white; padding-left: 20px; padding-right: 20px; background-color: rgba(91, 28, 230, 0.5);">
            <p style="float: left; border:none; margin-top: 20px; font-size: 19px">¿Qué es EcuaFilms?</p>
            <i id="Icon1" style="float: right;margin-top: 12px; font-size: 29px;" 
              class="bi bi-plus-circle">
            </i>
          </button>
        </div>
      </div>
    </div>
    <div class="container d-none"style="margin-top: -3px; margin-bottom: -15px;" id="1">
      <div class="row justify-content-center">
        <div id="tamanoDivRespuestas" class="text-center">
          <div style="background: linear-gradient( to left, rgba(116, 9, 121, 0.5), rgba(185, 8, 246, 0.4), rgba(91, 28, 230, 0.5)); border-radius: 10px;">
            <p style="color:white; text-align: justify; padding: 15px;">
              EcuaFilms es un servicio de streaming que ofrece una gran variedad de películas parapoder  ver en casi cualquier pantalla conectada a internet.
              Todo lo que quieras ver, sin límites ni comerciales, a un costo muy accesible. Siempre hay algo nuevo por descubrir, ¡y todas las semanas se agregan más películas!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 5px;">
      <div class="row justify-content-center">
        <div id="tamanoDeDivPreguntasFrecuentes" class="text-center">
          <button (click)="AbrirDiv('Icon2','2')" style="border: none;width: 100%; color:white; padding-left: 20px; padding-right: 20px; background-color: rgba(91, 28, 230, 0.5);">
            <p style="float: left; border:none; margin-top: 20px; font-size: 19px">¿Dónde puedo ver EcuaFilms</p>
            <i id="Icon2" style="float: right;margin-top: 12px; font-size: 29px;" 
              class="bi bi-plus-circle">
            </i>
          </button>
        </div>
      </div>
    </div>
    <div class="container d-none"style="margin-top: -3px; margin-bottom: -15px;" id="2">
      <div class="row justify-content-center">
        <div id="tamanoDivRespuestas" class="text-center">
          <div style="background: linear-gradient( to left, rgba(116, 9, 121, 0.5), rgba(185, 8, 246, 0.4), rgba(91, 28, 230, 0.5)); border-radius: 10px;">
            <p style="color:white;text-align: justify; padding: 15px;">
              Disfruta donde quieras, cuando quieras. Inicia sesión en tu cuenta de EcuaFilms para ver contenido al instante a través de EcuaFilms.com desde tu computadora personal o en cualquier dispositivo con conexión a internet.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 5px;">
      <div class="row justify-content-center">
        <div id="tamanoDeDivPreguntasFrecuentes" class="text-center">
          <button (click)="AbrirDiv('Icon3','3')" style="border: none;width: 100%; color:white; padding-left: 20px; padding-right: 20px; background-color: rgba(91, 28, 230, 0.5);">
            <p style="float: left; border:none; margin-top: 20px; font-size: 19px">¿Cómo cancelo?</p>
            <i id="Icon3" style="float: right;margin-top: 12px; font-size: 29px;" 
              class="bi bi-plus-circle">
            </i>
          </button>
        </div>
      </div>
    </div>
    <div class="container d-none"style="margin-top: -3px; margin-bottom: -15px;" id="3" >
      <div class="row justify-content-center">
        <div id="tamanoDivRespuestas" class="text-center">
          <div style="background: linear-gradient( to left, rgba(116, 9, 121, 0.5), rgba(185, 8, 246, 0.4), rgba(91, 28, 230, 0.5)); border-radius: 10px;">
            <p style="color:white;text-align: justify; padding: 15px;">
              EcuaFilms es flexible sin contratos molestos ni compromisos. Cancela la membresía mediante una transferencia bancaria o por medio de Paypal.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 5px;">
      <div class="row justify-content-center">
        <div id="tamanoDeDivPreguntasFrecuentes" class="text-center">
          <button (click)="AbrirDiv('Icon4','4')" style="border: none; width: 100%; color:white; padding-left: 20px; padding-right: 20px; background-color: rgba(91, 28, 230, 0.5);">
            <p style="float: left; border:none; margin-top: 20px; font-size: 19px;">¿Qué puedo ver en EcuaFilms?</p>
            <i id="Icon4" style="float: right;margin-top: 12px; font-size: 29px;" 
              class="bi bi-plus-circle">
            </i>
          </button>
        </div>
      </div>
    </div>
    <div class="container d-none"style="margin-top: -3px; margin-bottom: -15px;" id="4">
      <div class="row justify-content-center">
        <div id="tamanoDivRespuestas" class="text-center">
          <div style="background: linear-gradient( to left, rgba(116, 9, 121, 0.5), rgba(185, 8, 246, 0.4), rgba(91, 28, 230, 0.5)); border-radius: 10px;">
            <p style="color:white;text-align: justify; padding: 15px;">
              EcuaFilms tiene un amplio catálogo de películas, series, animes, originales premiados y más. Todo lo que quieras ver, cuando quieras.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

