<div>
  <div style="z-index: 100; position: relative!important;">
    <app-header-cliente></app-header-cliente>
  </div>
  <div>
    <ngx-slick-carousel class="carousel" #slickModal3="slick-carousel" [config]="ImgInico">
      <div ngxSlickItem *ngFor="let slide of ImgPrincipales" class="slide">
        <div style="height: 88vh" class="position-relative">
          <img style="z-index: -1; opacity: 0.65;"src="{{ slide.img }}" alt="" width="100%" height="100%"> 
          <div class="position-absolute top-50 start-0 container">
            <button style="position: relative; top:-25px; left: 15px;z-index: 4; color: white; font-size: 52px; background-color: transparent; border:none"><i class="bi bi-chevron-left"></i></button>
          </div>
          <div class="position-absolute top-50 start-0 container">
            <div style="z-index:1; position: relative; top:-25px; left: 175px; width:min-content" class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <img  src="https://www.dafont.com/forum/attach/orig/6/6/668583.png?1" width="300px" alt="No cargo la imagen">
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-center" style="padding-top: 15px;">
                <div>
                  <button style="z-index: 2; width: 100%; padding:8px; color: white; background-color: rgb(15,15,15); border-color: transparent; border-radius: 5px; font-size: 15px;"><i class="bi bi-play-circle"></i> Ver ahora</button>
                </div>
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-center" style="padding-top: 15px;">
                <div>
                  <button style="width: 100%; font-size: 15px; padding:8px; z-index: 2; color: white; background-color:rgb(15,15,15); border-color: transparent; border-radius: 5px;">Más información</button>
                </div>
              </div>
            </div>
          </div>
          <div class="position-absolute top-50 end-0">
            <button style="position: relative; top:-25px; right: 20px;z-index: 4; color: white; font-size: 52px; background-color: transparent; border:none"><i class="bi bi-chevron-right"></i></button>
          </div>
        </div>   
      </div>
    </ngx-slick-carousel>
  </div>
  <div style="position: relative; margin-top:20px; color: white">
    <div style="position: relative; left:50px; display: inline-block;">
      <h1>Grandes exitos de EcuaFilms</h1>
    </div>
  <div style="width: 100%;">
    <div class="position-relative">
      <div>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigImage">
          <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <div style="padding: 5px;" class="pelicula">
              <img id="{{slide.Id}}" style="height: 300px; width: 200px;" src="{{ slide.imagenPrincipal }}" alt="">
            </div>
          </div> 
        </ngx-slick-carousel>
      </div>
      <div class="position-absolute top-0 start-0" style="height: 100%; padding: 5px; padding-left: 0px;">
        <button (click)="prev()" id="botonAtras" (mouseenter)="cambiarColorBoton('botonAtras')" (mouseleave)="restaurarColorBoton('botonAtras')" style="font-size: 30px; height: 100%; padding-left: 10px; z-index: 5; color: rgb(202, 199, 199); position: relative; background: linear-gradient( to left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65), rgba(0, 0, 0,0.95)); border:none">
          <i class="bi bi-chevron-left"></i>
        </button>
      </div>
      <div class="position-absolute top-0 end-0" style="height: 100%; padding: 5px; padding-right:0px; ">
        <button (click)="next(1)" id="bontonSiguiente" (mouseenter)="cambiarColorBoton('bontonSiguiente')" (mouseleave)="restaurarColorBoton('bontonSiguiente')" style="height: 100%;  color: rgb(202, 199, 199); position: relative; z-index: 5;  background: linear-gradient( to left, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.65), rgba(0, 0, 0,0.45)); border:none">
          <i style="font-size: 30px;" class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  
  <div style="position: relative; margin-top:20px; color: white">
    <div style="position: relative; left:50px; display: inline-block;">
      <h1>En tendencia</h1>
    </div>
  <div style="width: 100%;">
    <div class="position-relative">
      <div>
        <ngx-slick-carousel class="carousel" #slickModal2="slick-carousel" [config]="slideConfigImageTendencia">
          <div ngxSlickItem *ngFor="let slide of slides1" class="slide">
            <div style="padding: 5px;" class="pelicula">
              <img id="{{slide.id}}" style="height: 470px; width: 302px;" src="{{ slide.img }}" alt="">
            </div>
          </div> 
        </ngx-slick-carousel>
      </div>
      <div class="position-absolute top-0 start-0" style="height: 100%; padding: 5px; padding-left: 0px;">
        <button (click)="prev()" id="botonAtras" (mouseenter)="cambiarColorBoton('botonAtras')" (mouseleave)="restaurarColorBoton('botonAtras')" style="font-size: 30px; height: 100%; padding-left: 10px; z-index: 5; color: rgb(202, 199, 199); position: relative; background: linear-gradient( to left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65), rgba(0, 0, 0,0.95)); border:none">
          <i class="bi bi-chevron-left"></i>
        </button>
      </div>
      <div class="position-absolute top-0 end-0" style="height: 100%; padding: 5px; padding-right:0px; ">
        <button (click)="next(2)" id="bontonSiguiente" (mouseenter)="cambiarColorBoton('bontonSiguiente')" (mouseleave)="restaurarColorBoton('bontonSiguiente')" style="height: 100%;  color: rgb(202, 199, 199); position: relative; z-index: 5;  background: linear-gradient( to left, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.65), rgba(0, 0, 0,0.45)); border:none">
          <i style="font-size: 30px;" class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div style="position: relative; margin-top:20px; color: white">
    <div style="position: relative; left:50px; display: inline-block;">
      <h1>Grandes exitos de EcuaFilms</h1>
    </div>
  <div style="width: 100%;">
    <div class="position-relative">
      <div>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigImage">
          <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <div style="padding: 5px;" class="pelicula">
              <img id="{{slide.Id}}" style="height: 300px; width: 200px;" src="{{ slide.imagenPrincipal }}" alt="">
            </div>
          </div> 
        </ngx-slick-carousel>
      </div>
      <div class="position-absolute top-0 start-0" style="height: 100%; padding: 5px; padding-left: 0px;">
        <button (click)="prev()" id="botonAtras" (mouseenter)="cambiarColorBoton('botonAtras')" (mouseleave)="restaurarColorBoton('botonAtras')" style="font-size: 30px; height: 100%; padding-left: 10px; z-index: 5; color: rgb(202, 199, 199); position: relative; background: linear-gradient( to left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65), rgba(0, 0, 0,0.95)); border:none">
          <i class="bi bi-chevron-left"></i>
        </button>
      </div>
      <div class="position-absolute top-0 end-0" style="height: 100%; padding: 5px; padding-right:0px; ">
        <button (click)="next(1)" id="bontonSiguiente" (mouseenter)="cambiarColorBoton('bontonSiguiente')" (mouseleave)="restaurarColorBoton('bontonSiguiente')" style="height: 100%;  color: rgb(202, 199, 199); position: relative; z-index: 5;  background: linear-gradient( to left, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.65), rgba(0, 0, 0,0.45)); border:none">
          <i style="font-size: 30px;" class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div> 

  <div style="position: relative; margin-top:20px; color: white">
    <div style="position: relative; left:50px; display: inline-block;">
      <h1>Lo mejor del Anime</h1>
    </div>
  <div style="width: 100%;">
    <div class="position-relative">
      <div>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigImage3">
          <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <div style="padding: 5px;" class="pelicula">
              <img id="{{slide.Id}}" style="height: 250px; width: 400px;" src="{{ slide.imagenPrincipal }}" alt="">
            </div>
          </div> 
        </ngx-slick-carousel>
      </div>
      <div class="position-absolute top-0 start-0" style="height: 100%; padding: 5px; padding-left: 0px;">
        <button (click)="prev()" id="botonAtras" (mouseenter)="cambiarColorBoton('botonAtras')" (mouseleave)="restaurarColorBoton('botonAtras')" style="font-size: 30px; height: 100%; padding-left: 10px; z-index: 5; color: rgb(202, 199, 199); position: relative; background: linear-gradient( to left, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65), rgba(0, 0, 0,0.95)); border:none">
          <i class="bi bi-chevron-left"></i>
        </button>
      </div>
      <div class="position-absolute top-0 end-0" style="height: 100%; padding: 5px; padding-right:0px; ">
        <button (click)="next(1)" id="bontonSiguiente" (mouseenter)="cambiarColorBoton('bontonSiguiente')" (mouseleave)="restaurarColorBoton('bontonSiguiente')" style="height: 100%;  color: rgb(202, 199, 199); position: relative; z-index: 5;  background: linear-gradient( to left, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.65), rgba(0, 0, 0,0.45)); border:none">
          <i style="font-size: 30px;" class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div style="position: relative; margin-top:20px; color: white">
    <div style="position: relative; left:50px; display: inline-block;">
      <h1>Estrenos que se convertiran en favoritos</h1>
    </div>
  <div style="width: 100%;">
    <div class="position-relative">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigImage4">
          <div ngxSlickItem *ngFor="let slide of slides5" class="slide">
            <div class="text-center">
                  <div class="text-center pelicula" style="padding: 5px;" >
                    <img id="{{slide.id}}" class="img-responsive" style="width: 100%; height:275px; opacity: 0.85;" src="{{ slide.img }}" alt="">
                  </div>
            </div>
          </div> 
        </ngx-slick-carousel>
      <div class="position-absolute top-0 start-0" style="height: 100%; padding: 5px; padding-left: 0px;">
        <button (click)="prev()" id="botonAtras" (mouseenter)="cambiarColorBoton('botonAtras')" (mouseleave)="restaurarColorBoton('botonAtras')" style="font-size: 30px; height: 100%; padding-left: 10px; z-index: 5; color: rgb(255, 255, 255); position: relative; border:none; background-color: transparent;">
          <i class="bi bi-chevron-left"></i>
        </button>
      </div>
      <div class="position-absolute top-0 end-0" style="height: 100%; padding: 5px; padding-right:0px; ">
        <button (click)="next(1)" id="bontonSiguiente" (mouseenter)="cambiarColorBoton('bontonSiguiente')" (mouseleave)="restaurarColorBoton('bontonSiguiente')" style="height: 100%;  color: rgb(255, 255, 255); position: relative; z-index: 5; border:none; background-color: transparent;">
          <i style="font-size: 30px;" class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
